@import 'constants/constans.scss';

.column {
  @include flexColumn(flex-start, center);
  padding: toRem(16);

  &_header {
    width: 100%;
    color: #d8deeb;
    [data-theme='dark'] & {
      color: #7a7878;
    }
  }

  &_body {
    margin-top: toRem(12);
    color: #110f10;
    [data-theme='dark'] & {
      color: #d8deeb;
    }
  }
}
